body {
    font-family: 'Karla', sans-serif;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 5rem;
    font-weight: 200;
    margin: 0;
}

p {
    font-weight: 400;
}